body{
    margin: 0;
    padding: 0;
    background-color: #444;
}

header{
    background-color: #444;
    display: grid;
    place-items: center;
    padding-top: 25px;
}

nav {
    margin: 27px auto 0;
  
    position: relative;
    width: 590px;
    height: 50px;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
  }
  nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
  }
  a:nth-child(1) {
    width: 100px;
  }
  a:nth-child(2) {
    width: 110px;
  }
  a:nth-child(3) {
    width: 100px;
  }
  a:nth-child(4) {
    width: 160px;
  }
  a:nth-child(5) {
    width: 120px;
  }
  nav .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #1abc9c;
  }
  nav .start-about, a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
    background-color: #e74c3c;
  }
  nav .start-blog, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
    background-color: #3498db;
  }
  nav .start-portefolio, a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
    background-color: #9b59b6;
  }
  nav .start-contact, a:nth-child(5):hover~.animation {
    width: 120px;
    left: 470px;
    background-color: #e67e22;
  }
    

main{
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 50vh;
    background: #444;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
	position: relative;
    padding-top: 25px;
	font-size: 4em;
	letter-spacing: 5px;
	color: #444;
	text-transform: uppercase;
	width: 100%;
	text-align:  center;
	-webkit-box-reflect: below 1px linear-gradient(transparent,#000000);
	line-height: 0.70em;
	outline: none;
	animation: animate 5s linear infinite;
}
@keyframes animate{
  0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
  {
  	color: #444;
  	text-shadow: none;
  }

  18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
  {
  	color: white;
  	text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4
  	, 0 0 160px #03bcf4;
  }
}


#evil-button {
    align-items: center;
    position: absolute;
    white-space: nowrap;
    font-size: 1.5rem;
    background-color: #74aff1;
    border-radius: 5px;
    border: none;
    color: rgb(253, 253, 253);
    padding: 10px;
    margin: 10px;
}
